<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>{{streamer}}'s Chat</title>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script type="text/javascript">

        var socket = io()
        var streamer = window.location.pathname.substring(1)
        var connectedUsers = 0
        
        const maxToStart = 2

        function sendMessage () {
            let userMessage = document.getElementById("message").value
            console.log(userMessage)

            socket.emit("message", "Exia: "+userMessage, streamer)
            document.getElementById("message").value=""
        }

        socket.on("new_message", (data) => {
            document.getElementById("messages").innerHTML += "<br>" + data
        })

        socket.on("random_message", (data) => {
            document.getElementById("messages").innerHTML += "<br>"+data
            
            if(connectedUsers <= maxToStart){
                let randomTime = getRandomInt(50, 500)
                setTimeout(sendRandomMessage, randomTime)
            }
        })

        function sendRandomMessage (){
            socket.emit("random_message", "Yanchovies", streamer)
            //setTimeout(sendRandomMessage, 100);
        }

        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        socket.on('disconnect', function(){
            socket.emit("delete_user", streamer)
        })

        socket.on('connect', function(){
            socket.emit("add_user", streamer)
        })

        socket.on('set_connected_users', function(data){
            console.log("CONNECTED TO: "+data)
            if(data[0] === streamer){
                connectedUsers = data[1]
            }
        })

    </script>

    <style>
        #messages{
            overflow:hidden;
            overflow-y: scroll;
            height: 50vw;
            display: flex;
            flex-direction: column-reverse;
            padding: 10%
        }

        #chat{
            text-align: center;
        }
    </style>
</head>
<body>   

    <div id="messages">
        
    </div>

    <div id="chat">
        <input type="text" id="message" name="message" placeholder="Type something...">
        <button onclick="sendMessage()" id="send-button"> Send </button>
    </div>
</body>
</html>