<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Twitch</title>
    <script type="text/javascript">
        function redirectToPage(path){
            window.location.href=path
        }
    </script>
    
    <style>
        #find-chat{
            text-align: center;
        }

        #current-user{
            text-align: right;
        }
    </style>
    
</head>
<body>
    <div id="nav-bar">
        <button class="nav-bar-button" onclick="redirectToPage('login')">Login</button>
        <button class="nav-bar-button" onclick="redirectToPage('register')">Register</button>
    </div>
    <div id="current-user">
        {{current_user}}
    </div>

    <div id="find-chat">
        <form id = "input-form" method="POST">
            <input type="text" id="username" class = "input-field" name="username" placeholder="Streamer">
            <button class="submit-button"> Join Chat </button>
        </form>
    </div>
</body>
</html>