{% extends "credentials_base.html" %}
{% block title %} Register | My Twitch {% endblock %}

{% block content %}

<div id="credentials-content">
    <form method="POST" id = "input-form">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="password" name="password-retype" placeholder="Retype Password"><br>
        <button id="submit-button"> Register </button>
    </form>

    <p>{{warning}}</p>
</div>


{% endblock %}